<%= form_with(model: condo_account, local: true) do |form| %>
  <% if condo_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(condo_account.errors.count, "error") %> prohibited this condo_account from being saved:</h2>

      <ul>
      <% condo_account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
